    .form-control { height: 24px; padding: 1px 2px; font-size: 11px; line-height: 1.5;  border-radius: 0px;}
     #ventana{ width: 98% !important; }
     #ventana-md{ width: 92% !important; }
    .titulo {padding: 0 !important;}
    .titulo h5 {background: #5bc0de;padding: 10px 10px;color: #fff;font-size: 16px;text-transform: uppercase; letter-spacing: 1px;}
    .caja{
      padding: 0px;
      border:1px solid #FFE2D5;
      border-radius:0px;
      -webkit-box-shadow: 0px 0px 15px rgba(240, 240, 240, 0.75);
      -moz-box-shadow:    0px 0px 15px rgba(240, 240, 240, 0.75);
      box-shadow:         0px 0px 15px rgba(240, 240, 240, 0.75);
      -webkit-transition: all 1s ease-in-out;
      -moz-transition: all 1s ease-in-out;
    }
    .title-form{background-color: #8747b0; color: #fff; font-size: 18px; padding: 1px; cursor: pointer; line-height:28px;}
    .cuadro{ border:1px solid black; margin-bottom: 10px; padding: 4px; background-color: #fff;}
    .title-form>.ace-icon:first-child{
      display:inline-block;
      height:32px; width:32px; text-align:center;
      line-height:32px;
      margin-right:5px;
      font-size:18px;
      border-right:1px solid #FFF
    }
           
    a.ejecutada { color:#3abf66; text-decoration:none; font-weight:normal; }
    a.pendiente { color: #f0ad4e; text-decoration:none; font-weight:normal; }
    a.noejecutada { color: #e22335; text-decoration:none; font-weight:normal; }
    a.si { color: #ffffff; text-decoration:none; font-weight:normal; font-size: 20px; background-color: #3abf66;}
    a.no { color: #ffffff; text-decoration:none; font-weight:normal; font-size: 20px;background-color: #e22335;} 
    a.route{ color:#ffffff; text-decoration:none; font-weight:normal; }
    .box1 {position: relative; background: #EAFAF1; border: 1px solid #fff; border-radius: 0px; color: #000;}
    .box2 {position: relative; background: #ffffff; border: 4px solid #fff; border-radius: 0px; color: #000;}
    .box3 {position: relative; background: #FCF3CF; border: 4px solid #fff; border-radius: 0px; color: #000;}
    .scrolls{height:115px; overflow-y: scroll; overflow-x: hidden;}
